$bg: #eee;
$phoneDetails: #d3d3d3;
$phoneColor: #dfdfdf;
$phoneWidth: 320px;
$phoneHeight: 560px;
$buttonBg: #ddd;

#phone {
  width: $phoneWidth;
  height: $phoneHeight;
  background: $phoneColor;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
  top: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    background: $phoneDetails;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
      0 1px 1px rgba(255, 255, 255, 0.25);
  }
  &:after {
    left: calc(50% - 20px);
    bottom: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  &:before {
    left: calc(50% - 20px);
    top: 30px;
    height: 10px;
    width: 50px;
    border-radius: 10px;
  }
}

#app {
  overflow: hidden;
  background: #fff;
  width: $phoneWidth - 40px;
  height: $phoneHeight - 140px;
  position: absolute;
  top: calc(50% - 210px);
  left: calc(50% - 140px);
}

#app .header {
  height: 50px;
  margin-bottom: 10px;
  background: #f6f6f6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  font: 18px 'Open Sans';
  line-height: 30px;
  font-weight: 300;
  color: #ddd;

  .top {
    height: 16px;
    position: relative;
    font-family: 'Open Sans';
    font-size: 8px;
    line-height: 16px;
    color: #666;
    text-transform: uppercase;
    font-weight: 600;

    .left {
      position: absolute;
      top: 0;
      left: 5px;
    }
    .center {
      text-align: center;
      font-size: 10px;
    }
    .right {
      position: absolute;
      top: 0;
      right: 5px;
    }
  }

  #battery {
    border: 1px solid #999;
    border-radius: 2px;
    height: 10px;
    width: 20px;
    position: relative;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    right: 0;
    top: 2px;
    &:before {
      content: '';
      display: block;
      width: 75%;
      height: 100%;
      background: #4d4;
      border: 1px solid transparent;
    }
  }
}

#people {
  .person-photo {
    .person-photo-inner {
      margin: 0 auto;
      width: 90%;
      text-align: center;
      position: relative;
      border-radius: 5px;
      overflow: hidden;

      img {
        width: 100%;
        height: 255px;
      }
      .person-info {
        text-align: left;
        padding: 10px;
        width: calc(100% - 22px);
        border: 1px solid $phoneDetails;
        border-radius: 0 0 5px 5px;
        border-top: none;
        background-color: #fff;
        position: absolute;
        bottom: 0;
      }
    }
  }
}
// swipe animation
.dislike-animation {
  transition: transform 0.5s;
  transform: translateX(-30rem) rotate(-30deg) !important;
}
.like-animation {
  transition: transform 0.5s;
  transform: translateX(30rem) rotate(30deg) !important;
}

#control {
  width: 90%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .button {
    background-color: $buttonBg;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(2) {
      width: 40px;
      height: 40px;
    }

    .imcross {
      color: #c33;
      font-size: 1.5rem;
    }
    .bsinfocirclefill {
      color: #3498db;
    }
    .aifillheart {
      color: #3b7;
      font-size: 1.8rem;
    }
  }
}
